@font-face {
    font-family: Graphik LC TT Regular;
    src: url(./fonts/GraphikLCG-Regular.ttf);
}
@font-face {
    font-family: Graphik LC TT Semibold;
    src: url(./fonts/GraphikLCG-Semibold.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Graphik LC TT Regular;
}
a {
    text-decoration: none;
}
button {
    appearance: none;
    cursor: pointer;
}
.header {
    display: flex;
    border-bottom: 1px solid #CCCCCC;
    padding: 25px 51px;
}
.LokaliseLogo {
    margin-right: 51px;
}
.headerNav {
    color: #000;
    margin-right: 57px;
}
.headerButtons {
    margin-left: auto;
}
.loginButton {
    font-family: Graphik LC TT Semibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    background-color: #ffffff;
    height: 45px;
    width: 120px;
    border: 1px solid #00000080;
    margin-right: 10px;
}
.tryButtonHeader {
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    color: #ffffff;
    height: 45px;
    width: 120px;
    background-color: #FF6336;
    border: none;
}
.firstSection {
    display: flex;
    flex-direction: row;
    margin-top: 129px;
    margin-bottom: 172px;
    height: 628px;
    width: 100%;
    justify-content: center;
}
.firstSectionImg {
    height: 529px;
    width: 759px;
}
.firstSectionContainer {
    display: flex;
    flex-direction: column;
}
.firstSectionTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    width: 552px; 
    height: 210px;
    margin-bottom: 51px;
}
.firstSectionContent{   
    height: 140px;
    width: 471px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    margin-bottom: 50px;
}
.firstSectionButtons {
    display: flex;
}
.tryButton {
    height: 60px;
    width: 160px;
    margin-right: 10px;
    background-color: #FF6336;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    color: #ffffff;
}
.bookButton {
    height: 60px;
    width: 160px;
    background-color: #ffffff;
    border: 1px solid #00000080;
    font-family: Graphik LC TT Semibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
}
.firstSectionAddContent { 
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: 25px;
}
.sectionCompanies {
    background-color: #FF9C7D;
    height: 455px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sectionCompaniesTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    align-self: center;
    height: 120px;
    width: 720px;
    margin-top: 108px;
    margin-bottom: 82px;
}
.Companies {
   display: flex;
   justify-content: space-evenly;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainBlock {
    height: 632px;
    width: 1290px;
    display: flex;
    margin-top: 90px;
    margin-bottom: 250px;
}
.lastMainBlock {
    height: 577px;
    width: 1290px;
    display: flex;
    margin-bottom: 150px;
}
.mainBlockContent {
    display: flex;
    flex-direction: column;
    height: 341px;
    width: 658px;
    margin-top: auto;
    margin-bottom: auto;
}
.secondMainBlockContent {
    display: flex;
    flex-direction: column;
    height: 341px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 138px;
}
.lastMainBlockContent {
    display: flex;
    flex-direction: column;
    height: 341px;
    width: 520px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 138px;
}
.mainTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
.mainContent { 
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    height: 120px;
    width: 491px;
    margin-bottom: 30px;
}
.mainLink {
   font-family: Graphik LC TT Semibold; 
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: 0em;
   color: #000;
}
.section_What_can_you_localize {
    background-color: #FFF8E4;
    height: 1033px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.section_What_can_you_localizeTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    margin-top: 120px;
    margin-bottom: 58px;
}
.section_What_can_you_localizeCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 115px;
    margin-right: 115px;
}
.section_What_can_you_localizeFirstCardsBlock {
    display: flex;
    margin-bottom: 75px;
    justify-content: space-around;
    width: 1290px;
}
.section_What_can_you_localizeSecondCardsBlock {
    display: flex;
    justify-content: space-around;
    width: 1290px;
}
.section_What_can_you_localizeCard {
    height: 294px;
    width: 330px;
    text-align: center;
}
.section_What_can_you_localizeImg {
    height: 120px;
    width: 160px;
    margin-bottom: 23px;
}
.section_What_can_you_localizeContentTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    margin-bottom: 23px;
}
.section_What_can_you_localizeContent {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}
.sectionBoostProductivity {
    height: 1065px;
}
.sectionBoostProductivityTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em; 
    text-align: center;
    margin-top: 154px;
    margin-bottom: 25px;
}
.sectionBoostProductivityCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 639px;
}
.sectionBoostProductivityCard {
    height: 700px;
    width: 439px;
    display: inline-block;
}
.ManagersImg {
    height: 201px;
    width: 145px;
    margin-bottom: 49px;
    margin-top: 50px;
}
.DevelopersImg {
    margin-bottom: 67px;
    margin-top: 67px;
    height: 166px;
    width: 179px;
}
.TranslatorsImg {
    margin-bottom: 58px;
    margin-top: 59px;
    height: 183px;
    width: 179px;
}
.sectionBoostProductivityCardTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    margin-bottom: 34px;
}
.sectionBoostProductivityCardContent {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    height: 180px;
    width: 409px;
}
.sectionBoostProductivityCardLink {
    text-decoration: underline;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-top: 25px;
    display: inline-block;
}

.sectionBlockquote {
    background-color: #C9E8F2;
    height: 468px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blockquoteContent {
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 895px;
    align-self: center;
    margin-left: auto;
}
.blockquote {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    height: 160px;
    width: 920px;
    margin-bottom: 23px;
}
.figcaption {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    height: 25px;
    width: 271px;
    margin-bottom: 7px;
}
.blockquoteRevolut {
    height: 25px;
    width: 115px;
}
.EdwardCooperImg {
    height: 310px;
    width: 310px;
    align-self: center; 
    margin-left: 85px;
    margin-right: auto;
}
.sectionStars {
    background-color: #DABC98;
    width: 100%;
    height: 332px;
    display: flex;
    align-items: center;
}
.StarsTitle {
    height: 178px;
    width: 809px;
    border-right: 2px solid #000;
    display: flex;
    margin-left: auto;
}
.sectionStarsImg {
    height: 154px;
    width: 176px;
    margin-right: 67px;
}
.sectionStarsTitle {
    height: 100px;
    width: 461px;
    font-family: Graphik LC TT Semibold;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    margin-top: auto;
    margin-bottom: auto;
}
.Stars {
    height: 168px;
    width: 481px;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.firstStars {
    height: 116px;
    width: 128px;
    margin-left: auto;
    margin-right: 70px;
}
.secondStars {
    height: 116px;
    width: 150px;
    margin-right: auto;
}
.starsFirstLogoImg {
    height: 36px;
    width: 128px;
}
.starsImg {
    height: 20px;
    width: 128px;
    margin-bottom: 14px;
    margin-top: 20px;
}
.sectionStarsContent {
    height: 25px;
    width: 128px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
}
.sectionIntegrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionIntegrateTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    height: 150px;
    width: 791px;
    display: inline-block;
    text-align: center;
    margin-top: 165px;
}
.sectionIntegrateContent {
    height: 60px;
    width: 539px;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}
.sectionIntegrateImg {
    height: 445px;
    width: 1023px;
    display: inline-block;
    margin-bottom: 32px;
}
.IntegrateButton {
    height: 60px;
    width: 193px;
    background-color: #FF6336;
    border: none;
    margin-bottom: 162px;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    color: #ffffff;
}
.sectionWhy_wait {
    text-align: center;
    background-color: #FF9C7D;
    width: 100%;
    height: 603px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionWhy_waitTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    height: 150px;
    width: 784px;
    margin-bottom: 29px;
    margin-top: 119px;
    display: inline-block;
}
.sectionWhy_waitContent {
    height: 30px;
    width: 438px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 54px;
    display: inline-block;
}
.sectionWhy_waitButton {
    height: 60px;
    width: 160px;
    background: #000000;
    border: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    color: #ffffff;
}
.footer {
    background-color: #EEEEEE;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerContentBlock {
    display: flex;
    height: 682px;
    width: 1290px;
    margin-top: 92px;
    border-bottom: 1px solid #000;
}
.footerCaseStudiesBlock {
    display: flex;
    flex-direction: column;
    height: 587px;
    width: 370px;
    margin-right: 70px;
}
.footerTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    margin-bottom: 28px;
}
.footerImg {
    height: 300px;
    width: 300px;
    border: 1px solid #000;
}
.footerSpecializedImg {
    height: 32px;
    width: 80px;
    margin-top: 31px;
    margin-bottom: 11px;
}
.footerContent {
    height: 90px;
    width: 290px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 15px;
}
.footerRead_moreLink {
    font-family: Graphik LC TT Semibold;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #000;
}
.footerLinks {
    display: flex;
    height: 286px;
    width: 850px;
    justify-content: space-between;
}
.footerLinksBlock {
    display: flex;
    flex-direction: column;
}
.footerLinksTitle {
    font-family: Graphik LC TT Semibold;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    margin-bottom: 21px;
}
.footerLink {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000;
    margin-bottom: 15px;
}
.footerBlock {
    height: 77px;
    width: 1290px;
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}
.LokalisefooterImg {
    height: 21px;
    width: 90px;
    margin-right: 14px;
}
.footerBlockContent {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    height: 30px;
    width: 301px;
}
.© {
    height: 30px;
    width: 109px;
    margin-left: auto;
}
.©Content {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}